<br>



<div id="newAlimentoModal" class="modal modal-fixed-footer">
	<form class="row" ng-submit="newAlimento()">
		<div class="modal-content" style="padding-bottom: 0px;">
			<span class="modalHeader">Nuevo Alimento</span>
			<a href="" class="modal-action modal-close">
				<span class="new badge transparent red-text" data-badge-caption="">
					<i class="material-icons btnTitle">cancel</i>
				</span>
			</a>
			<div class="divider"></div><br>
			<div>
				<strong><span>DATOS DEL NUEVO ALIMENTO</span></strong>
			</div>
			<br>
			<div class="row" style="margin: 0px;"><input type="text" class="col s12" placeholder="Nombre" required ng-model="alimento.descripcion" style="margin:0px"></div><br>
			<div class="row" style="margin: 0px;margin-right:5px">
				<input type="number"  class="col s4" min="0" placeholder="Peso" required ng-model="alimento.peso" style="margin:0px;margin-right:28px"></input>
				<select class="browser-default col s3 " style="margin: 0px;margin-right:28px" required ng-model="alimento.medida" ng-options="c.nombre + ' ' + c.medida for c in medidas track by c.idmedida" >
					<option value="" default disabled>MEDIDA</option>
				</select>
				<select class="browser-default col s4 " style="margin: 0px" required ng-model="alimento.presentacion" ng-options="c.nombre for c in presentaciones track by c.idpresentacion" >
					<option value="" default disabled>PRESENTACIONES</option>
				</select>
			</div><br>
			<div class="row" style="margin: 0px"><input type="number" step="0.01" class="col s12 " min="0" placeholder="Precio" required ng-model="alimento.preciou" style="margin:0px"></input></div>
		</div>
		<div class="modal-footer" style="padding-top: 0px;">
			<button class="btn waves-effect waves-red btn-flat modal-action" type="submit" >
				Guardar<i class="material-icons right">save</i>
			</button>
		</div>
	</form>
</div>


<div id="editAlimentoModal" class="modal modal-fixed-footer">
	<form class="row" ng-submit="editAlimento()">
		<div class="modal-content" style="padding-bottom: 50px;">
			<span class="modalHeader">Editar Alimento</span>
			<a href="" class="modal-action modal-close">
				<span class="new badge transparent red-text" data-badge-caption="">
					<i class="material-icons btnTitle">cancel</i>
				</span>
			</a>
			<div class="divider"></div><br>
			<div>
				<strong><span>DATOS DEL NUEVO ALIMENTO</span></strong>
			</div>
			<br>
			<div class="row" style="margin: 0px;"><input type="text" class="col s10" placeholder="Nombre" required ng-model="alimento.descripcion" style="margin:0px"></div><br>
			<div class="row" style="margin: 0px;margin-right:5px">
				<input type="number"  class="col s10 m3" min="0" placeholder="Peso" required ng-model="alimento.peso" style="margin:0px;margin-right:12px"></input>
				<select class="browser-default col s10 m3" style="margin: 0px;margin-right:12px" required ng-model="alimento.medida" ng-options="c.nombre + ' ' + c.medida for c in medidas track by c.idmedida" >
					<option value="" default disabled>MEDIDA</option>
				</select>
				<select class="browser-default col s10 m3" style="margin: 0px;margin-right:12px" required ng-model="alimento.presentacion" ng-options="c.nombre for c in presentaciones track by c.idpresentacion" >
					<option value="" default disabled>PRESENTACIONES</option>
				</select>
			</div><br>
			<div class="row" style="margin: 0px"><input type="number" step="0.01" class="col s10 m5" min="0" placeholder="Precio" required ng-model="alimento.preciou" style="margin:0px"></input></div>
		</div>
		<div class="modal-footer" style="padding-top: 0px;">
			<button class="btn waves-effect waves-red btn-flat modal-action" type="submit" >
				Guardar<i class="material-icons right">delete</i>
			</button>
			<!-- <a class="btn waves-effect waves-red red btn-flat modal-action"  ng-click="deleteVacuna()" >
				Eliminar<i class="material-icons right">delete</i>
			</a>  -->
		</div>
	</form>
</div>



<div class="row animated zoomIn">
	<div class="page-header waves-effect waves-light">
		<span>ALIMENTOS</span>
		<a href="" id='backIcon' class="right white-text"><i class="material-icons small" ng-click="searchSucursal= ''" onclick="searchDesactiveContent()">arrow_back</i></a>
		<a href="" id='searchIcon' class="right white-text" onclick="searchActiveContent()"><i class="material-icons small">search</i></a>
		<a href="" id='closeIcon' class="right white-text" ng-hide="searchSucursal == ''"><i class="material-icons small" ng-click="searchSucursal= ''" onclick="$('.page-header>input').focus()">close</i></a>
		<input type="text" placeholder="BUSCAR" ng-model="searchSucursal" class="center " data-ripple-color="#00bcd4">
	</div>
</div>

<br>

<div class="row list-content animated zoomIn">
	<table class="list">
		<tr class="header">
			<td>#</td>
			<td>Nombre</td>
			<td>Peso</td>
			<td>Presentación</td>
			<td>Precio</td>
		</tr>			
     	 <tr ng-repeat="s in productos" data-href="#editAlimentoModal" id={{s.idproducto}} onclick="openModal('editAlimentoModal')" ng-click="selectEditAlimento($event)" class="body ">
     	 	<td>{{$index+1}}</td>
     	 	<td>{{s.descripcion}}</td>
     	 	<td>{{s.peso}} {{s.abreviatura}}</td>
     	 	<td>{{s.presentacion}}</td>
     	 	<td>{{s.preciounitario}}</td>
     	 </tr>
</table>



</div>	

<div class="fixed-action-btn  animated zoomIn">
	<a class="btn-floating btn-large blue" onclick="openModal('newAlimentoModal')" ng-click="cleanProducto()">
		<i class="large material-icons">add</i>
	</a>
</div>