<br>



<div id="newClienteModal" class="modal modal-fixed-footer">
	<form class="row" ng-submit="newCliente()">
		<div class="modal-content" style="padding-bottom: 50px;">
			<span class="modalHeader">Nuevo Cliente</span>
			<a href="" class="modal-action modal-close">
				<span class="new badge transparent red-text" data-badge-caption="">
					<i class="material-icons btnTitle">cancel</i>
				</span>
			</a>
			<div class="divider"></div><br>
			<div class="row" style="margin: 0px; margin-top: 10px">
				<input type="text" class="col s6" placeholder="Identificación" maxlength="13" required ng-model="cliente.ci" style="margin:0px" ng-blur="identificar(cliente)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
				<div class="switch">
				  <label style="padding-left: 15px;margin-top: 100px">
				    CI
				    <input id="check" type="checkbox" ng-model="cliente.identificacion">
				    <span class="lever"></span>
				    RUC
				  </label>
				</div>
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Apellidos" required ng-model="cliente.apellidos" style="margin:0px">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Nombres" required ng-model="cliente.nombres" style="margin:0px">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Teléfono" required ng-model="cliente.telefono" style="margin:0px" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="15">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="CORREO" required ng-model="cliente.correo" style="margin:0px;text-transform: none !important;">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Dirección" required ng-model="cliente.direccion" style="margin:0px">
			</div><br>
		</div>
		<div class="modal-footer" style="padding-top: 0px;">
			<button class="btn waves-effect waves-red btn-flat modal-action" type="submit" >
				Guardar<i class="material-icons right">save</i>
			</button>
		</div>
	</form>
</div>


<div id="editClienteModal" class="modal modal-fixed-footer">
	<form class="row" ng-submit="editCliente()">
		<div class="modal-content" style="padding-bottom: 50px;">
			<span class="modalHeader">Editar Cliente</span>
			<a href="" class="modal-action modal-close">
				<span class="new badge transparent red-text" data-badge-caption="">
					<i class="material-icons btnTitle">cancel</i>
				</span>
			</a>
			<div class="divider"></div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Cédula de Identidad" required ng-model="cliente.ci" style="margin:0px" ng-blur="valida_cedula(cliente.ci)" maxlength="13" disabled onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Apellidos" required ng-model="cliente.apellidos" style="margin:0px">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Nombres" required ng-model="cliente.nombres" style="margin:0px">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Teléfono" maxlength="15" required ng-model="cliente.telefono" style="margin:0px;" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Correo" required ng-model="cliente.correo" style="margin:0px;text-transform: lowercase !important;" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Dirección" required ng-model="cliente.direccion" style="margin:0px">
			</div><br>
		</div>
		<div class="modal-footer" style="padding-top: 0px;">
			<button class="btn waves-effect waves-red btn-flat modal-action" type="submit" >
				Guardar<i class="material-icons right">save</i>
			</button>
			<!-- <a class="btn waves-effect waves-red red btn-flat modal-action"  ng-click="deleteCliente()" >
				Eliminar<i class="material-icons right">delete</i>
			</a> -->
		</div>
	</form>
</div>



<div class="row animated zoomIn">
	<div class="page-header waves-effect waves-light">
		<span>CLIENTES</span>
		<a href="" id='backIcon' class="right white-text">
			<i class="material-icons small" ng-click="searchSucursal= ''" onclick="searchDesactiveContent()">arrow_back</i>
		</a>
		<a href="" id='searchIcon' class="right white-text" onclick="searchActiveContent()">
			<i class="material-icons small">search</i>
		</a>
		<a href="" id='closeIcon' class="right white-text" ng-hide="searchSucursal == ''">
			<i class="material-icons small" ng-click="searchSucursal= ''" onclick="$('.page-header>input').focus()">close</i>
		</a>
		<input type="text" placeholder="BUSCAR" ng-model="searchSucursal" class="center " data-ripple-color="#00bcd4">
	</div>
</div>

<br>

<div class="row list-content animated zoomIn">
	<table class="list">
		<tr class="header">
			<td>#</td>
			<td>C.I.</td>
			<td>Apellidos</td>
			<td>Nombres</td>
			<td>Telefono</td>
			<td>Correo</td>
			<td>Ruc</td>
		</tr>
     	 <tr ng-repeat="s in clientes" data-href="#editClienteModal" id={{s.idcliente}} onclick="openModal('editClienteModal')" ng-click="selectEditCliente($event)" class="body ">
     	 	<td>{{$index+1}}</td>
     	 	<td>{{s.ci}}</td>
     	 	<td>{{s.apellidos}}</td>
     	 	<td>{{s.nombres}}</td>
     	 	<td>{{s.telefono}}</td>
     	 	<td>{{s.correo}}</td>
     	 	<td>{{s.ruc}}</td>
     	 </tr>
</table>



</div>	

<div class="fixed-action-btn  animated zoomIn">
	<a class="btn-floating btn-large blue" onclick="openModal('newClienteModal')" ng-click="cleanCliente()">
		<i class="large material-icons">add</i>
	</a>
</div>