<br>

<div id="newGalponModal" class="modal modal-fixed-footer">
	<form class="row" ng-submit="newGalpon()">
		<div class="modal-content" style="padding-bottom: 50px;">
			<span class="modalHeader">Nuevo Galpón</span>
			<a href="" class="modal-action modal-close">
				<span class="new badge transparent red-text" data-badge-caption="">
					<i class="material-icons btnTitle">cancel</i>
				</span>
			</a>
			<div class="divider"></div><br>
			<div>
				<span>DATOS DEL NUEVO GALPÓN</span>
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Capacidad" required ng-model="galpon.capacidad" style="margin:0px" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
			</div>
		</div>
		<div class="modal-footer" style="padding-top: 0px;">
			<button class="btn waves-effect waves-red btn-flat modal-action" type="submit">
				Guardar<i class="material-icons right">save</i>
			</button>
		</div>
	</form>
</div>


<div id="editGalponModal" class="modal modal-fixed-footer">
	<form class="row" ng-submit="deleteGalpon()">
		<div class="modal-content" style="padding-bottom: 50px;">
			<span class="modalHeader">Editar Contratista</span>
			<a href="" class="modal-action modal-close">
				<span class="new badge transparent red-text" data-badge-caption="">
					<i class="material-icons btnTitle">cancel</i>
				</span>
			</a>
			<div class="divider"></div><br>
			<div>
				<span>DATOS DEL NUEVO GALPÓN</span>
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Capacidad" required ng-model="galpon.capacidad" style="margin:0px" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
			</div>
		</div>
		<div class="modal-footer" style="padding-top: 0px;">
			<button class="btn waves-effect waves-red btn-flat modal-action" type="submit">
				Guardar<i class="material-icons right">save</i>
			</button>
			<a class="btn waves-effect waves-red red btn-flat modal-action"  ng-click="deleteGalpon()">
				Eliminar<i class="material-icons right">delete</i>
			</a>
		</div>
	</form>
</div>



<div class="row animated zoomIn">
	<div class="page-header waves-effect waves-light">
		<span>Galpones</span>
		<a href="" id='backIcon' class="right white-text"><i class="material-icons small" ng-click="searchSucursal= ''" onclick="searchDesactiveContent()">arrow_back</i></a>
		<a href="" id='searchIcon' class="right white-text" onclick="searchActiveContent()"><i class="material-icons small">search</i></a>
		<a href="" id='closeIcon' class="right white-text" ng-hide="searchSucursal == ''"><i class="material-icons small" ng-click="searchSucursal= ''" onclick="$('.page-header>input').focus()">close</i></a>
		<input type="text" placeholder="BUSCAR" ng-model="searchSucursal" class="center " data-ripple-color="#00bcd4">
	</div>
</div>

<br>

<div class="row list-content animated zoomIn">
	<table class="list">
		<tr class="header">
			<td>#</td>
			<td>Capacidad</td>
			<td>Estado</td>
		</tr>			
     	 <tr ng-repeat="s in galpones" data-href="#editGalponModal" id={{s.IdGalpon}} onclick="openModal('editGalponModal')" ng-click="selectEditContratista($event)" class="body ">
     	 	<td>{{$index+1}}</td><td>{{s.Capacidad}}</td><td>{{s.Estado}}</td>

     	 </tr>
</table>



</div>	

<div class="fixed-action-btn  animated zoomIn">
	<a class="btn-floating btn-large blue" onclick="openModal('newGalponModal')" ng-click="cleanGalpon()">
		<i class="large material-icons">add</i>
	</a>
</div>