<br>



<div id="newNominaModal" class="modal modal-fixed-footer">
	<form class="row" ng-submit="nuevoNomina()">
		<div class="modal-content" style="padding-bottom: 50px;">
			<span class="modalHeader">Nuevo Personal</span>
			<a href="" class="modal-action modal-close">
				<span class="new badge transparent red-text" data-badge-caption="">
					<i class="material-icons btnTitle">cancel</i>
				</span>
			</a>
			<div class="divider"></div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " maxlength="10" placeholder="Cédula de Identidad" required ng-model="nomina.ci" style="margin:0px" ng-blur="valida_cedula(nomina.ci)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Apellidos" required ng-model="nomina.apellidos" style="margin:0px">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Nombres" required ng-model="nomina.nombres" style="margin:0px">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s6 " placeholder="Cargo" required ng-model="nomina.cargo" style="margin:0px;margin-right: 54px">
				<input type="number" class="col s5 " placeholder="SALARIO" required ng-model="nomina.salario" style="margin:0px" min="0">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Teléfono" required ng-model="nomina.telefono" style="margin:0px" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="15">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="CORREO" required ng-model="nomina.correo" style="margin:0px; text-transform: none !important;">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Dirección" required ng-model="nomina.direccion" style="margin:0px">
			</div><br>
			<input type="checkbox" class="filled-in" id="filled-in-box"  ng-model="nomina.permiso" checked="disabled" /><label for="filled-in-box">Permiso de administrador</label>
   
		</div>
		<div class="modal-footer" style="padding-top: 0px;">
			<button class="btn waves-effect waves-red btn-flat modal-action" type="submit" >
				Guardar<i class="material-icons right">save</i>
			</button>
		</div>
	</form>
</div>


<div id="editnominaModal" class="modal modal-fixed-footer">
	<form class="row" ng-submit="editNomina()">
		<div class="modal-content" style="padding-bottom: 50px;">
			<span class="modalHeader">Editar Personal</span>
			<a href="" class="modal-action modal-close">
				<span class="new badge transparent red-text" data-badge-caption="">
					<i class="material-icons btnTitle">cancel</i>
				</span>
			</a>
			<div class="divider"></div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " maxlength="10" placeholder="Cédula de Identidad" required ng-model="nomina.ci" style="margin:0px" ng-blur="valida_cedula(nomina.ci)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Apellidos" required ng-model="nomina.apellidos" style="margin:0px">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Nombres" required ng-model="nomina.nombres" style="margin:0px">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s6 " placeholder="Cargo" required ng-model="nomina.cargo" style="margin:0px;margin-right: 54px">
				<input type="number" class="col s5 " placeholder="SALARIO" required ng-model="nomina.salario" style="margin:0px" min="0">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Teléfono" required ng-model="nomina.telefono" style="margin:0px" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="15">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="CORREO" required ng-model="nomina.correo" style="margin:0px; text-transform: none !important;">
			</div><br>
			<div class="row" style="margin: 0px">
				<input type="text" class="col s12 " placeholder="Dirección" required ng-model="nomina.direccion" style="margin:0px">
			</div><br>
			<input type="checkbox" class="filled-in" id="filled-in-box2"  ng-model="nomina.permiso" checked="disabled" /><label for="filled-in-box">Permiso de administrador</label>
		</div>
		<div class="modal-footer" style="padding-top: 0px;">
			<button class="btn waves-effect waves-red btn-flat modal-action" type="submit" >
				Guardar<i class="material-icons right">save</i>
			</button>
			<a class="btn waves-effect waves-red red btn-flat modal-action"  ng-click="deleteNomina()" >
				Eliminar<i class="material-icons right">delete</i>
			</a>
		</div>
	</form>
</div>



<div class="row animated zoomIn">
	<div class="page-header waves-effect waves-light">
		<span>Nómina</span>
		<a href="" id='backIcon' class="right white-text"><i class="material-icons small" ng-click="searchSucursal= ''" onclick="searchDesactiveContent()">arrow_back</i></a>
		<a href="" id='searchIcon' class="right white-text" onclick="searchActiveContent()"><i class="material-icons small">search</i></a>
		<a href="" id='closeIcon' class="right white-text" ng-hide="searchSucursal == ''"><i class="material-icons small" ng-click="searchSucursal= ''" onclick="$('.page-header>input').focus()">close</i></a>
		<input type="text" placeholder="BUSCAR" ng-model="searchSucursal" class="center " data-ripple-color="#00bcd4">
	</div>
</div>

<br>

<div class="row list-content animated zoomIn">
	<table class="list">
		<tr class="header">
			<td>#</td>
			<td>C.I.</td>
			<td>Apellidos</td>
			<td>Nombres</td>
			<td>Cargo</td>
			<td>Salario</td>
			<td>Correo</td>
		</tr>			
     	 <tr ng-repeat="s in listaNomina" data-href="#editnominaModal" id={{s.IdEmpleado}} onclick="openModal('editnominaModal')" ng-click="selectEditNomina($event)" class="body ">
     	 	<td>{{$index+1}}</td><td>{{s.Ci}}</td><td>{{s.Apellidos}}</td><td>{{s.Nombres}}</td><td>{{s.Cargo}}</td><td>{{s.Sueldo}}</td><td>{{s.Correo}}</td>

     	 </tr>
</table>



</div>	

<div class="fixed-action-btn  animated zoomIn">
	<a class="btn-floating btn-large blue" onclick="openModal('newNominaModal')" ng-click="cleanNomina()">
		<i class="large material-icons">add</i>
	</a>
</div>